Source: opensim
Section: science
Priority: optional
Maintainer: Bobby Powers <bobbypowers@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, automake, python-control
Standards-Version: 3.8.1
Homepage: http://opensimproject.org

Package: opensim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gobject, python-gaphas, python-rsvg, python-gtk2
Description: Tool to visually create and edit system dynamics models
 System dynamics (SD) is a method for studying the complex systems that
 make up the world we live in. Systems ranging from sheep herding to
 national development planning can be explored with SD. What system
 dynamics brings is a focus on the feedback loops and time delays that
 produce the behavior of systems, and the visual representation systems.
 SD modeling involves drawing the structure of the model on the computer
 followed by filling in the mathematical details. This contrasts with
 writing a computer program that tries to capture the same behavior
 while managing computer resources and worrying about reading and
 writing files. The System Dynamics approach is more transparent and
 leaves the learner free to worry about the problem and system at hand.

Package: opensim-doc
Architecture: all
Section: doc
Description: documentation for opensim
 This package installs the documentation for opensim.
